@import 'tailwindcss/dist/base.css';
@import 'tailwindcss/dist/components.css';
@import 'tailwindcss/dist/utilities.css';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

body {
    background: linear-gradient(47deg, rgb(148, 210, 223) 13%, rgb(32, 150, 197) 45%, rgba(21, 102, 195, 1) 85%);
    width: 100vw;
    height: 100vh;
}

.header {
    display: flex;
    padding-top: 20px;
}
.header h1 {
    margin: 0 auto;
}

.input-section {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
.input {
    padding: 10px;
    border-radius: 10px;
    outline: none;
    margin-right: 15px;
}
.input:focus, .input:active, .boton:focus, .boton:active {
    border: 1px inset black;
}
.boton {
    padding: 10px;
    background-color: rgb(255, 198, 13);
    border-radius: 10px;
}
.cards {
    height: 400px;
    width: 300px;
    border-radius: 10px;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    margin: 20px auto;
    padding: 80px 20px 0px;
}
.cards-initial {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 300px;
    border-radius: 10px;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    margin: 20px auto;
    padding: 100px 20px;
}
.principal {
    text-align: center;
}
.principal img {
    display: inline;
}
.details {
    display: flex;
    flex-direction: column;
}
.min-max {
    display: flex;
    justify-content: space-around;
}
.min {
    color: rgb(0, 132, 255);
}
.max {
    color: rgb(241, 78, 78);
}
.principal, .details, .min-max {
    margin-bottom: 40px;
}